<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agencia Alemán</title>
    <link rel="stylesheet" href="../bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="shortcut icon"
      href="../public/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-lightblue">
        <div class="container-fluid">
          <h1 class="text-light">Agencia Motocicletas</h1>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse w-20 justify-content-end"
            id="collapsibleNavId"
          >
            <ul
              class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
            >
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link dropdown-toggle text-light fs-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Empleados
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./empleados.html"
                      >Consultar</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_empleados.html"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link dropdown-toggle text-light fs-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Clientes
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./clientes.html">
                      Consultar
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_cliente.html"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link dropdown-toggle text-light fs-4"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Productos
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./productos.html"
                      >Consultar</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_producto.html"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link dropdown-toggle text-light fs-4 fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Ventas
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./ventas.html"
                      >Consultar</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item text-white" href="#"> Agregar </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 btn-small">
                <a
                  class="btn btn-danger"
                  href="../login.html"
                  aria-current="page"
                >
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
        <div aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center">
            <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
            <li class="breadcrumb-item">
              <a href="./ventas.html">Ventas</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
          </ol>
        </div>
      </aside>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-12 mt-2 m-auto">
            <h2>Agregar nueva venta</h2>
            <form method="post" class="row">
              <div class="col-sm-6 mb-3">
                <label for="user" class="form-label">Empleado</label>
                <select
                  class="form-select"
                  name="empleado"
                  id="empleado"
                  required
                >
                  <option value="" selected>Selecciona a un empleado</option>
                  <option value="1">David</option>
                  <option value="2">Emmanuel</option>
                  <option value="3">Ozuna</option>
                </select>
              </div>

              <div class="col-sm-6 mb-3">
                <label for="user" class="form-label">Cliente</label>
                <select
                  class="form-select"
                  name="cliente"
                  id="cliente"
                  required
                >
                  <option value="" selected>Selecciona a un cliente</option>
                  <option value="1">David</option>
                  <option value="2">Emmanuel</option>
                  <option value="3">Ozuna</option>
                </select>
              </div>

              <div class="col-sm-6 mb-3">
                <label for="fecha-compra" class="form-label">
                  Fecha compra
                </label>
                <input
                  type="date"
                  class="form-control"
                  id="fecha-compra"
                  name="fecha-compra"
                  required
                />
              </div>

              <div class="col-sm-6 mb-3">
                <label for="iva" class="form-label">IVA</label>
                <input
                  type="text"
                  class="form-control"
                  id="iva"
                  name="iva"
                  required
                />
              </div>

              <div class="col-sm-12 mb-3">
                <label for="productos" class="form-label">Producto</label>
                <select
                  class="form-select"
                  name="productos"
                  id="productos"
                  required
                  multiple
                >
                  <option value="1">Moto 1 - $100</option>
                  <option value="2">Moto 2 - $200</option>
                  <option value="3">Moto 3 - $300</option>
                </select>
              </div>

              <div class="d-flex justify-content-end">
                <a
                  class="btn btn-secondary m-1"
                  href="./ventas.html"
                  role="button"
                >
                  Cancelar
                </a>

                <!-- <button type="button" class="btn btn-primary m-1" role="button">
                  Agregar
                </button> -->
                <a
                  href="./confirmar_ventas.html"
                  class="btn btn-primary m-1"
                  role="button"
                >
                  Agregar
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="../bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="../bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
