<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-lightblue">
          <div class="container-fluid">
            <h1 class="text-light">Agencia Motocicletas</h1>
            <button
              class="navbar-toggler d-lg-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavId"
              aria-controls="collapsibleNavId"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse w-20 justify-content-end"
              id="collapsibleNavId"
            >
              <ul
                class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
              >
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                    Empleados
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="#">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="#"> Agregar </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5 fw-bold"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Clientes
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="#">Consultar</a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-white"
                        href="./agregar_clientes.php"
                      >
                        Agregar
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Productos
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="#">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="#"> Agregar </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Ventas
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="#">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="#"> Agregar </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item mx-sm-1 mt-sm-0 mt-1">
                <a class="btn btn-sm btn-danger" href="#" aria-current="page">
                  Cerrar Sesión
                </a>
              </li>
              </ul>
            </div>
          </div>
        </nav>
      </header> 

    <section class="d-flex justify-content-between m-1 mb-1 p-1">
        <div aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Clientes</li>
            </ul>
        </div>
        <a href="agregar_clientes.php" class="btn btn-primary">Agregar</a>
    </section>


    <section class="container mt-3">
        <form action="./vista_clientes.php" method="GET" class="row">
            <div class="col-12 col-md-4">
                <label for="opcion" class="col-12 col-md-4 col-form-label">Buscar cliente</label>
            </div>
            <div class="col-12 col-md-2">
                <select class="form-control" name="opcion" id="opcion">
                    <option [idcli_s] value="idcli">Id Cliente</option>
                    <option [nomcli_s] value="nomcli">Nombre</option>
                    <option [rfccli_s] value="rfccli">RFC</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <input class="form-control" type="text" name="value" id="value" value="[value]">
        </div>
            <div class="col-12 col-md-2">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
    </section>
    <br>

    <section class="container">
      [msg]
    <div class="d-flex px-3 justify-content-between align-items-center">
      <span class="text-secondary fs-3">[titulo]</span>
      <a href="./report/[link_report]" class="btn btn-sm btn-warning">[reporte]</a>
    </div>
    <div class="table-responsive p-3">
    <table class="table table-bordered border-primary mt-3">
        <tr>
            <th>Id Cliente</th>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Genero</th>
            <th>Acción</th>
        </tr>

        [block: general]
        <tr>
            <td><a href="" data-bs-target="#detalle[id_cliente]">[id_cliente]</a></td>
            <td>[rfc]</td>
            <td>[nombre]</td>
            <td>[direccion]</td>
            <td>[telefono]</td>
            <td>[correo]</td>
            <td>[genero]</td>
            <td>
                <div class="btn-group">
                <a class="btn btn-secondary" href="./report/reportClientes.php?id_cliente=[id_cliente]">Reporte</a>
                <a class="btn btn-info" href="modificar_clientes.php?id_cliente=[id_cliente]" role="button">Modificar</a>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#detalle[id_cliente]">Eliminar</button>
                <div class="modal fade" id="detalle[id_cliente]">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title fs-5">Eliminar Cliente</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">¿Quieres eliminar al cliente [nombre]?</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a href="./eliminar_clientes.php?id_cliente=[id_cliente]" class="btn btn-danger">Aceptar</a>
                </div>
              </div>          
            </td>
        </tr>
        [/block: general]
      </table>
    </div>
</section>

    <script src="bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="bootstrap-5.3.0/js/bootstrap.min.js"></script>
</body>

</html>