<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empleados</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="shortcut icon"
      href="./public/favicon.png"
      type="imagen/x-icon"
    />
  </head>

  <body>
    <header>[nav-bar]</header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Empleados</li>
        </ol>
      </div>
      <div>
        <a href="./agregar_empleados.php" class="btn btn-primary"> Agregar </a>
      </div>
    </aside>

    <aside>
      <form
        action="vista_empleados.php"
        method="get"
        class="d-flex flex-column flex-md-row justify-content-md-between m-1 p-1"
      >
        <div class="d-flex w-100 flex-column flex-md-row align-items-md-center">
          <div class="input-group">
            <div class="col-5 col-md-3 m-0">
              <label for="opcion" class="input-group-text rounded-0">
                Buscar empleados por
              </label>
            </div>
            <div class="col-7 col-md-4 col-lg-2">
              <select
                class="form-select rounded-0"
                name="opcion"
                id="floatingSelect"
                aria-label="Floating label select example"
              >
                <option [id_s] value="id">ID</option>
                <option [rfc_s] value="rfc">RFC</option>
                <option [nombre_s] value="nombre">NOMBRE</option>
                <option [salarios_s] value="salario">SALARIOS</option>
                <option [estudios_s] value="estudios">ESTUDIOS</option>
              </select>
            </div>
            <input
              class="form-control rounded-0"
              type="text"
              name="value"
              id="value"
              value="[value]"
            />
            [limpiar_filtro]
            <button class="btn btn-outline-primary rounded-0" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              Buscar
            </button>
          </div>
        </div>
      </form>
    </aside>

    <main>
      <div class="d-flex px-3 justify-content-between align-items-center">
        <span class="text-secondary fs-3">[title]</span>
        <a
          href="./report/[link_report]"
          class="btn btn-sm btn-secondary"
          target="_blank"
          >[reporte]</a
        >
      </div>
      <div class="table-responsive p-3">
        [msg]
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th>ID</th>
              <th>RFC</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Puesto</th>
              <th>Salario</th>
              <th>Estudios</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            [block: emplea2]
            <tr>
              <td>[id_empleado]</td>
              <td>[rfc]</td>
              <td>[nombre]</td>
              <td>[direccion]</td>
              <td>[telefono]</td>
              <td>[correo]</td>
              <td>[puesto]</td>
              <td>$[salario]</td>
              <td class="text-capitalize">[estudios]</td>
              <td>
                <div
                  class="modal fade"
                  id="elimina-modal[id_empleado]"
                  data-bs-backdrop="static"
                >
                  <div class="modal-dialog modal-dialog-center">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Eliminar</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Cancelar"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>¿Seguro que quiere Eliminar el Empleado [nombre]?</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancelar
                        </button>
                        <a
                          href="./eliminar_empleado.php?id_empleado=[id_empleado]"
                          class="btn btn-danger"
                          >Eliminar</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="btn-group"
                  role="group"
                  aria-label="basic mixed styles example"
                >
                  <a
                    href="modificar_empleado.php?id_empleado=[id_empleado]"
                    class="btn btn-warning"
                    >Modificar</a
                  >
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#elimina-modal[id_empleado]"
                    class="btn btn-danger"
                  >
                    Eliminar
                  </button>
                </div>
              </td>
            </tr>
            [/block: emplea2]
          </tbody>
        </table>
      </div>
      <div><p>[mensaje]</p></div>
      <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
          [block: paginas]
          <li class="page-item [active]" aria-current="page">
            <a class="page-link" href="?pagina=[pagina]">[pagina]</a>
          </li>
          [/block: paginas]
        </ul>
      </nav>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
