<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Empleado</title>
  <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-lightblue">
      <div class="container-fluid">
        <a
            href="./index.php"
            class="navbar-brand d-flex align-items-center"
          >
            <img
              src="./public/favicon.png"
              class="d-inline-block icon-navbar"
              alt="Inicio"
            />
            <h1 class="text-light fs-4 fw-bold">Agencia Motocicletas</h1>
          </a>
          
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w-20 justify-content-end" id="collapsibleNavId">
          <ul class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center">
            <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
              <a class="nav-link dropdown-toggle text-light fs-5 fw-bold" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Empleados
              </a>
              <ul class="dropdown-menu bg-lightblue-secondary">
                <li>
                  <a class="dropdown-item text-white" href="#">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item text-white" href="./agregar_empleados.php"> Agregar </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
              <a class="nav-link dropdown-toggle text-light fs-5" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Clientes
              </a>
              <ul class="dropdown-menu bg-lightblue-secondary">
                <li>
                  <a class="dropdown-item text-white" href="./vista_clientes.php">
                    Consultar
                  </a>
                </li>
                <li>
                  <a class="dropdown-item text-white" href="./agregar_clientes.php">
                    Agregar
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
              <a class="nav-link dropdown-toggle text-light fs-5" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Productos
              </a>
              <ul class="dropdown-menu bg-lightblue-secondary">
                <li>
                  <a class="dropdown-item text-white" href="./consulta_productos.php">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item text-white" href="./agregar_productos.php">
                    Agregar
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
              <a class="nav-link dropdown-toggle text-light fs-5" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Ventas
              </a>
              <ul class="dropdown-menu bg-lightblue-secondary">
                <li>
                  <a class="dropdown-item text-white" href="./consultar_ventas.php">Consultar</a>
                </li>
                <li>
                  <a class="dropdown-item text-white" href="./agregar_venta.php">
                    Agregar
                  </a>
                </li>
              </ul>
            </li>

              <li class="nav-item mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="btn btn-sm btn-danger"
                  href="./logout.php"
                  aria-current="page"
                >
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Empleados</li>
        </ol>
      </div>
      <div>
        <a href="./agregar_empleados.php" class="btn btn-primary"> Agregar </a>
      </div>
    </aside>

  <aside>
    <form action="vista_empleados.php" method="get"
      class="d-flex flex-column flex-md-row justify-content-md-between m-1 p-1">
      <div class="d-flex w-100 flex-column flex-md-row align-items-md-center">
        <label for="opcion" class="input-group-text rounded-0">
          Buscar Empleado por
        </label>
        <div class="col-7 col-md-4 col-lg-2">
          <select class="form-select rounded-0" name="opcion" id="floatingSelect"
            aria-label="Floating label select example">
            <option [id_s] value="id">ID</option>
            <option [rfc_s] value="rfc">RFC</option>
            <option [nombre_s] value="nombre">NOMBRE</option>
            <option [salarios_s] value="salario">SALARIOS</option>
            <option [estudios_s] value="estudios">ESTUDIOS</option>
          </select>
        </div>
        <input class="form-control rounded-0" type="text" name="value" id="value" value="[value]" />
        [limpiar_filtro]
        <button class="btn btn-primary rounded-0" type="submit">
          Buscar
        </button>
      </div>
    </form>
  </aside>

    <main>
      <div class="d-flex px-3 justify-content-between align-items-center">
        <span class="text-secondary fs-3">[title]</span>
        <a href="./report/[link_report]" class="btn btn-sm btn-secondary" target="_blank"
          >[reporte]</a
        >
      </div>
      <div class="table-responsive mt-4 p-3">
        [msg]
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th>ID EMPLEADOS</th>
              <th>RFC</th>
              <th>NOMBRE</th>
              <th>DIRECION</th>
              <th>TELEFONO</th>
              <th>CORREO</th>
              <th>PUESTO</th>
              <th>SALARIO</th>
              <th>ESTUDIOS</th>
              <th>ACCION</th>
            </tr>
          </thead>
          <tbody>
            [block: emplea2]
            <tr>
              <td>[id_empleado]</td>
              <td>[rfc]</td>
              <td>[nombre]</td>
              <td>[direccion]</td>
              <td>[telefono]</td>
              <td>[correo]</td>
              <td>[puesto]</td>
              <td>$[salario]</td>
              <td class="text-capitalize">[estudios]</td>
              <td>
                <div
                  class="modal fade"
                  id="elimina-modal[id_empleado]"
                  data-bs-backdrop="static"
                >
                  <div class="modal-dialog modal-dialog-center">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Eliminar</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Cancelar"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <p>¿Seguro que quiere Eliminar el Empleado [nombre]?</p>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cancelar
                        </button>
                        <a
                          href="./eliminar_empleado.php?id_empleado=[id_empleado]"
                          class="btn btn-danger"
                          >Eliminar</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="btn-group"
                  role="group"
                  aria-label="basic mixed styles example"
                >
                  <a
                    href="modificar_empleado.php?id_empleado=[id_empleado]"
                    class="btn btn-warning"
                    >Modificar</a
                  >
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#elimina-modal[id_empleado]"
                    class="btn btn-danger"
                  >
                    Eliminar
                  </button>

                  
                </div>
              </td>
            </tr>
            [/block: emplea2]
          </tbody>
        </table>
      </div>
    <div><p>[mensaje]</p></div>
      <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
          [block: paginas]
          <li class="page-item [active]" aria-current="page">
            <a class="page-link" href="?pagina=[pagina]">[pagina]</a>
          </li>
          [/block: paginas]
        </ul>
      </nav>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>