<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agencia Alemán</title>
  <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-lightblue">
          <div class="container-fluid">
            <h1 class="text-light">Agencia Motocicletas</h1>
            <button
              class="navbar-toggler d-lg-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapsibleNavId"
              aria-controls="collapsibleNavId"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse w-20 justify-content-end"
              id="collapsibleNavId"
            >
              <ul
                class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
              >
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                    Empleados
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="./vista_empleados.php">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="./agregar_empleados.php"> Agregar </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5 fw-bold"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Clientes
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="./vista_clientes.php">Consultar</a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item text-white"
                        href="#"
                      >
                        Agregar
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Productos
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="./consulta_productos.php">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="./agregar_productos.php"> Agregar </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                  <a
                    class="nav-link dropdown-toggle text-light fs-5"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Ventas
                  </a>
                  <ul class="dropdown-menu bg-lightblue-secondary">
                    <li>
                      <a class="dropdown-item text-white" href="./consultar_ventas.php">Consultar</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-white" href="./agregar_venta.php"> Agregar </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item mx-sm-1 mt-sm-0 mt-1">
                <a class="btn btn-sm btn-danger" href="./logout.php" aria-current="page">
                  Cerrar Sesión
                </a>
              </li>
              </ul>
            </div>
          </div>
        </nav>
      </header> 

    <section class="d-flex justify-content-between m-1 mb-1 p-1">
        <div aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
                <li class="breadcrumb-item"><a href="./vista_clientes.php">Clientes</a></li>
                <li class="breadcrumb-item active" aria-current="page">Agregar</li>
            </ul>
        </div>
    </section>    

        <main class="container">
            <section class="row col-lg-8 m-auto">
                <form method="POST" action="[target]" class="col">
                  <input type="hidden" value="[id_cliente]" name="id_cliente">
                    <div class="form-group col-12">
                        <label for="rfc">RFC</label>
                        <input required type="text" id="rfc" name="rfc" class="form-control" value="[rfc]">
                    </div>

                    <div class="form-group col-12">
                        <label for="nombre">Nombre</label>
                        <input required type="text" id="nombre" name="nombre" class="form-control" value="[nombre]" pattern="[A-Za-z-ñÑ-áéíóúÁÉÍÓÚ ]{1,50}">
                    </div>

                    <div class="form-group col-12">
                        <label for="direc">Dirección</label>
                        <input required type="text" id="direc" name="direccion" class="form-control" value="[direccion]">
                    </div>
    
                    <div class="form-group col-12">
                        <label for="telefono">Teléfono</label>
                        <input required type="tel" id="telefono" name="telefono" class="form-control" value="[telefono]" pattern="[0-9]{10}">
                    </div>

                    <div class="form-group col-12">
                        <label for="email">Correo</label>
                        <input  required type="email" id="email" name="correo" class="form-control" value="[correo]">
                    </div>

                    <div class="form-group col-12">
                      <label for="genero">Género</label>
                      <div>
                          <input required type="radio" id="genero-masculino" name="genero" value="M">
                          <label for="genero-masculino">Masculino</label>
                      </div>
                      <div>
                          <input required type="radio" id="genero-femenino" name="genero" value="F">
                          <label for="genero-femenino">Femenino</label>
                      </div>
                  </div>
                    <br>
                    <div class="">
                        <a class="btn btn-danger" href="./vista_clientes.php" role="button">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>

                </form>
            </section>
        </main>

        <br>


        <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
        <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
    </body>
    
    </html>