<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>productos</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-lightblue">
        <div class="container-fluid">
          <h1 class="text-light">Agencia Motocicletas</h1>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse w-20 justify-content-end"
            id="collapsibleNavId"
          >
            <ul
              class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
            >
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link text-light"
                  aria-current="page"
                  href="./empleados.html"
                  aria-current="page"
                >
                  Empleados
                </a>
              </li>
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link text-light"
                  aria-current="page"
                  href="./clientes.html"
                  aria-current="page"
                >
                  Clientes
                </a>
              </li>
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link active text-decoration-underline text-light"
                  aria-current="page"
                  href="./productos.html"
                  aria-current="page"
                >
                  Productos
                </a>
              </li>
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 fs-4">
                <a
                  class="nav-link  text-light"
                  aria-current="page"
                  href="./ventas.html"
                  aria-current="page"
                >
                  Ventas
                </a>
              </li>
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1 btn-small">
                <a
                  class="btn btn-danger"
                  href="../login.html"
                  aria-current="page"
                >
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
          <li class="breadcrumb-item"><a href="./productos.html">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
      </div>
    </aside>
  

    <main class="container">
      <section class="row col-lg-8 m-auto">
        <form method="post" action="[target]">
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Numero de serie</label>
            <input type="text" class="form-control" id="no_serie" name="numero_serie" value="[numero_serie]" />
          </div>
          <div class="form-group col-12">
            <label for="inputAddress" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" value="[marca]"/>
          </div>
          <div class="form-group col-12">
            <label for="inputAddress2" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo" name="modelo" value="[modelo]" />
          </div>
          <div class="form-group col-12">
            <label for="inputCity" class="form-label">Descripcion</label>
            <textarea class="form-control" name="descripcion" id="descripcion" rows="5">[descripcion]</textarea>
          </div>
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" value="[precio]" />
          </div>
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Existencias</label>
            <input type="text" class="form-control" id="existencias" name="existencias" value="[existencias]" />
          </div>
          <br />
          <div class="form-group col-12">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <a href="./productos.html" class="btn btn-outline-primary"
                >Cancelar</a
              >
              <button type="submit" class="btn btn-outline-primary">
                Aceptar
              </button>
            </div>
          </div>
        </form>
      </section>
    </main>

    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
