<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>productos</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-lightblue">
        <div class="container-fluid">
          <h1 class="text-light fs-4 fw-bold">Agencia Motocicletas</h1>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse w-20 justify-content-end"
            id="collapsibleNavId"
          >
            <ul
              class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
            >
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Empleados
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./vista_empleados.php">Consultar</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white" href="./agregar_empleados.php"> Agregar </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Clientes
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./vista_clientes.php"> Consultar </a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white" href="./agregar_clientes.php"> Agregar </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5 fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Productos
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./consulta_productos.php">Consultar</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-white" href="./agregar_productos.php"> Agregar </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Ventas
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="./consultar_ventas.php">Consultar</a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_venta.php"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
  
              <li class="nav-item mx-sm-1 mt-sm-0 mt-1">
                <a class="btn btn-sm btn-danger" href="./logout.php" aria-current="page">
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
          <li class="breadcrumb-item"><a href="./consulta_productos.php">Productos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Agregar</li>
        </ol>
      </div>
    </aside>
  

    <main class="container">
      <section class="row col-lg-8 m-auto">
        <form method="post" action="[target]">
          <input type="hidden" name="id_producto" value="[id_producto]">
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Numero de serie</label>
            <input type="text" class="form-control" id="no_serie" name="numero_serie" value="[numero_serie]" required />
          </div>
          <div class="form-group col-12">
            <label for="inputAddress" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" value="[marca]" required/>
          </div>
          <div class="form-group col-12">
            <label for="inputAddress2" class="form-label">Modelo</label>
            <input type="text" class="form-control" id="modelo" name="modelo" value="[modelo]" required />
          </div>
          <div class="form-group col-12">
            <label for="inputCity" class="form-label">Descripcion</label>
            <textarea class="form-control" name="descripcion" id="descripcion" rows="5" required>[descripcion]</textarea>
          </div>
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Precio</label>
            <input type="text" class="form-control" id="precio" name="precio" value="[precio]" maxlength="10" required/>
          </div>
          <div class="form-group col-12">
            <label for="inputPassword4" class="form-label">Existencias</label>
            <input type="text" class="form-control" id="existencias" name="existencias" value="[existencias]" maxlength="10" required />
          </div>
          <br />
          <div class="form-group col-12">
            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <a href="./productos.html" class="btn btn-outline-primary"
                >Cancelar</a
              >
              <button type="submit" class="btn btn-outline-primary">
                Aceptar
              </button>
            </div>
          </div>
        </form>
      </section>
    </main>

    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
