<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de servicios</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>[nav-bar]</header>
    <main>
      <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
        <div aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center">
            <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
            <li class="breadcrumb-item">
              <a href="./consultar_servicios.php">Servicios</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Agregar</li>
          </ol>
        </div>
      </aside>
      <div class="container">
        [msg]
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-12 mt-2 m-auto">
            <h2>[title]</h2>
            <form action="[target]" method="post" class="row">
              <div class="col-sm-6 mb-3">
                <label for="cliente" class="form-label">Cliente</label>
                <select
                  class="form-select"
                  name="cliente"
                  id="cliente"
                  required
                >
                  [block: clientes]
                  <option value="[id_cliente]">[nombre]</option>
                  [/block: clientes]
                </select>
              </div>
              <div class="col-sm-6 mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input
                  type="date"
                  class="form-control"
                  name="fecha"
                  id="fecha"
                  required
                  value="[fecha]"
                />
              </div>
              <div class="col-12 mb-3">
                <label for="productos" class="form-label">Producto</label>
                <select
                  class="form-select"
                  name="productos[]"
                  id="productos"
                  required
                  multiple
                >
                  [block: productos]
                  <option value="[id_producto]">
                    [marca] [modelo] $[precio]
                  </option>
                  [/block: productos]
                </select>
              </div>
              <input type="hidden" id="id" name="id" value="[idServicio]" />
              <div class="d-flex justify-content-end">
                <a
                  class="btn btn-secondary m-1"
                  href="./consultar_servicios.php"
                  role="button"
                >
                  Regresar
                </a>
                <button type="reset" class="btn btn-info m-1">Limpiar</button>
                <button
                  type="submit"
                  class="btn btn-primary m-1"
                  [isDisabled]
                  role="button"
                  name="accion"
                  value="[accionForm]"
                >
                  Agregar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
