<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de servicios</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>[nav-bar]</header>
    <main>
      <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
        <div aria-label="breadcrumb">
          <ol class="breadcrumb d-flex align-items-center">
            <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
            <li class="breadcrumb-item">
              <a href="./consultar_servicios.php">Servicios</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Modificar
            </li>
          </ol>
        </div>
      </aside>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-12 mt-2 m-auto">
            <h2>[title]</h2>
            <form action="[target]" method="post" class="row">
              <div class="col-sm-6 mb-3">
                <label for="cliente" class="form-label fw-bold">Cliente:</label>
                <input
                  type="hidden"
                  id="cliente"
                  name="cliente"
                  value="[id_cliente]"
                />
                <span id="cliente" class="form-control-plaintext">
                  [cliente]
                </span>
              </div>
              <div class="col-sm-6 mb-3">
                <label for="fecha" class="form-label fw-bold">Fecha</label>
                <input
                  type="date"
                  class="form-control"
                  name="fecha"
                  id="fecha"
                  value="[fecha]"
                />
              </div>
              <div class="col-sm-6 mb-1">
                <label for="producto" class="form-label fw-bold">
                  Productos
                </label>
                [block: productos]
                <input
                  type="hidden"
                  id="productos"
                  name="productos[]"
                  value="[0]"
                />
                <span class="form-control-plaintext mb-1">[1] [2]</span>
                [/block: productos]
              </div>

              <div class="col-sm-6 mb-1">
                <label for="fecha" class="form-label fw-bold">Servicios</label>
                [block: servicios]
                <select
                  class="form-select mb-2"
                  id="servicio"
                  class="form-control mb-4"
                  name="servicios[]"
                  value="[tipoServicio]"
                  required
                >
                  <option [s_garantia] value="garantía">Garantía</option>
                  <option [s_refacciones] value="refacciones">
                    Refacciones
                  </option>
                  <option [s_mantenimiento] value="mantenimiento">
                    Mantenimiento
                  </option>
                </select>
                [/block: servicios]
              </div>
              <input type="hidden" id="id" name="id" value="[idServicio]" />
              <div class="d-flex justify-content-end">
                <a
                  class="btn btn-secondary m-1"
                  href="./consultar_servicios.php"
                  role="button"
                >
                  Regresar
                </a>
                <button type="reset" class="btn btn-info m-1">Limpiar</button>
                <a
                  class="btn btn-warning m-1 [d-btn-modifica]"
                  href="agregar_servicio.php"
                  role="button"
                >
                  Modificar
                </a>
                <button
                  type="submit"
                  class="btn btn-primary m-1 text-capitalize"
                  [isDisabled]
                  name="accion"
                  value="[accionForm]"
                  role="button"
                >
                  [btn]
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
