<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="./public/favicon.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm bg-lightblue">
        <div class="container-fluid">
          <a
            href="./index.php"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          >
            <img
              src="./public/favicon.png"
              class="bi me-2 icon-navbar"
              alt="Inicio"
            />
            <h1 class="text-light fs-4 d-none d-sm-inline-block fw-bold">Agencia Motocicletas</h1>
          </a>
        </div>
      </nav>
    </header>
    <main class="container">
      [msg]
      <div class="row">
        <div class="col-md-10 col-lg-6 col-12 mt-2 m-auto">
          <h2>Iniciar Sesión</h2>
          <form action="./login.php" method="post">
            <div class="mb-3">
              <label for="user" class="form-label">Usuario</label>
              <input
                type="text"
                name="usuario"
                id="user"
                class="form-control"
                placeholder="Ingrese su usuario"
                required
                autofocus
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                name="pass"
                id="password"
                placeholder="Ingrese su contraseña"
                required
              />
            </div>
            <div class="d-flex justify-content-end">
              <a
                class="btn btn-secondary m-1"
                href="./index.php"
                role="button"
              >
                Cancelar
              </a>
              <button type="submit" class="btn btn-primary m-1">Iniciar</button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
