<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>[nav-bar]</header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
      </div>
      <div>
        <a href="./agregar_productos.php" class="btn btn-primary"> Agregar </a>
      </div>
    </aside>

    <aside>
      <form
        method="get"
        class="d-flex flex-column flex-md-row justify-content-md-between m-1 p-1"
      >
        <div class="d-flex w-100 flex-column flex-md-row align-items-md-center">
          <div class="input-group">
            <div class="col-5 col-md-3 m-0">
              <label for="opcion" class="input-group-text rounded-0">
                Buscar productos por
              </label>
            </div>
            <div class="col-7 col-md-4 col-lg-2">
              <select
                name="opcion"
                id="opcion"
                class="form-select rounded-0"
                required
              >
                <option [id_s] value="id">ID</option>
                <option [modelo_s] value="modelo">Modelo</option>
                <option [marca_s] value="marca">Marca</option>
                <option [precio_s] value="precio">Precio</option>
                <option [descripcion_s] value="descripcion">Descripción</option>
              </select>
            </div>

            <input
              type="text"
              class="form-control rounded-0"
              name="value"
              id="value"
              placeholder="Buscar"
              value="[value]"
            />
            [limpiar_filtro]
            <button class="btn btn-outline-primary rounded-0" type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              Buscar
            </button>
          </div>
        </div>
      </form>
    </aside>
    <main>
      <div class="d-flex px-3 justify-content-between align-items-center">
        <span class="text-secondary fs-3">[title]</span>
        <a
          href="./report/[link_report]"
          class="btn btn-sm btn-secondary [disabled-a]"
          target="_blank"
          >[reporte]</a
        >
      </div>
      <div class="table-responsive p-3">
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th>ID</th>
              <th>Num Serie</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Descripcion</th>
              <th>Existencias</th>
              <th>Precio</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            [block: productos]
            <tr style="overflow: hidden">
              <td>[id_producto]</td>
              <td>[numero_serie]</td>
              <td>[marca]</td>
              <td>[modelo]</td>
              <td style="min-width: 60px; max-width: 80px">[descripcion]</td>
              <td>[existencias]</td>
              <td>$[precio]</td>
              <td>
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic outlined example"
                >
                  <a
                    href="./modificar_producto.php?id=[id_producto]"
                    class="btn btn-warning"
                    >Modificar</a
                  >
                  <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#miModal[id_producto]"
                  >
                    Eliminar
                  </button>
                </div>
                <div class="modal fade" id="miModal[id_producto]">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title fs-5">Eliminar producto</h4>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          arialabel="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        ¿Estas seguro de eliminar el producto [marca] [modelo]?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <a
                          href="./eliminar_producto.php?id=[id_producto]"
                          class="btn btn-danger"
                          >Aceptar</a
                        >
                      </div>
                    </div>

                    [/block: productos]
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <div><p>[mensaje]</p></div>
    <section>
      <nav aria-label="Page navigation" class="d-flex justify-content-center">
        <ul class="pagination">
          [block: paginas]
          <li class="page-item [active]" aria-current="page">
            <a class="page-link" href="?pagina=[pagina]">[pagina]</a>
          </li>
          [/block: paginas]
        </ul>
      </nav>
    </section>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
