<!DOCTYPE html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>[nav-bar]</header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Servicios</li>
        </ol>
      </div>
      <div>
        <a href="./agregar_servicio.php" class="btn btn-primary"> Agregar </a>
      </div>
    </aside>
    <aside>
      <form
        method="get"
        class="d-flex flex-column flex-md-row justify-content-md-between px-3"
      >
        <div class="d-flex w-100 flex-column flex-md-row align-items-md-center">
          <div class="input-group">
            <div class="col-5 col-md-3 m-0">
              <label for="opcion" class="input-group-text rounded-0">
                Buscar ventas por
              </label>
            </div>
            <div class="col-7 col-md-4 col-lg-2">
              <select
                name="opcion"
                id="opcion"
                class="form-select rounded-0"
                required
              >
                <option [op_id] value="id">ID</option>
                <option [op_clientes] value="clientes">Cliente</option>
                <option [op_productos] value="productos">Producto</option>
                <option [op_fecha] value="fecha">Fecha de venta</option>
                <option [op_servicio] value="servicio">Servicio</option>
              </select>
            </div>

            <input
              type="text"
              class="form-control rounded-0"
              name="search"
              id="search"
              placeholder="Buscar"
              value="[value]"
            />
            [limpiar_filtro]
            <button class="btn btn-outline-primary rounded-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              Buscar
            </button>
          </div>
        </div>
      </form>
    </aside>
    <main>
      <div class="d-flex px-3 justify-content-between align-items-center">
        <span class="text-secondary fs-3">[title]</span>
        <a
          href="./report/[link_report]"
          class="btn btn-sm btn-secondary"
          target="_blank"
          >[reporte]</a
        >
      </div>
      <section class="table-responsive p-3" id="no-more-tables">
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th>ID</th>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Productos</th>
              <th>Servicio</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            [block: servicios]
            <tr>
              <td>[idServicio]</td>
              <td>[idCliente]</td>
              <td>[fechaServicio]</td>
              <td>[productos]</td>
              <td class="text-capitalize">[tipoServicios]</td>

              <td>
                <div class="btn-group ms-3" role="group">
                  <a
                    href="./modificar_servicios.php?id=[idServicio]"
                    class="btn btn-warning"
                  >
                    Modificar </a
                  ><a
                    href="./report/reportServicios.php?servicio=[idServicio]"
                    class="btn btn-secondary"
                    target="_blank"
                  >
                    Reporte
                  </a>
                </div>
              </td>
            </tr>
            [/block: servicios]
          </tbody>
        </table>
      </section>
      <div><p>[mensaje]</p></div>
      <section>
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
          <ul class="pagination">
            [block: paginas]
            <li class="page-item [active]" aria-current="page">
              <a class="page-link" href="?pagina=[pagina]">[pagina]</a>
            </li>
            [/block: paginas]
          </ul>
        </nav>
      </section>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
