<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agencia Alemán</title>
    <link rel="stylesheet" href="./bootstrap-5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./public/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-lightblue">
        <div class="container-fluid">
          <a
            href="./index.php"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          >
            <img
              src="./public/favicon.png"
              class="bi me-2 icon-navbar"
              alt="Inicio"
            />
            <h1 class="text-light fs-4 d-none d-sm-inline-block fw-bold">Agencia Motocicletas</h1>
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse w-20 justify-content-end"
            id="collapsibleNavId"
          >
            <ul
              class="navbar-nav mt-2 mt-sm-1 justify-content-end align-items-end align-items-lg-center"
            >
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Empleados
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./vista_empleados.php"
                      >Consultar</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_empleados.php"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Clientes
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./vista_clientes.php"
                    >
                      Consultar
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_clientes.php"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Productos
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./consulta_productos.php"
                    >
                      Consultar
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_productos.php"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="nav-link dropdown-toggle text-light fs-5 fw-bold"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Ventas
                </a>
                <ul class="dropdown-menu bg-lightblue-secondary">
                  <li>
                    <a class="dropdown-item text-white" href="#">Consultar</a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item text-white"
                      href="./agregar_venta.php"
                    >
                      Agregar
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item mx-sm-1 mt-sm-0 mt-1">
                <a
                  class="btn btn-sm btn-danger"
                  href="./logout.php"
                  aria-current="page"
                >
                  Cerrar Sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <aside class="d-flex justify-content-between m-1 p-1 bg-body-tertiary">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb d-flex align-items-center">
          <li class="breadcrumb-item"><a href="./index.php">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ventas</li>
        </ol>
      </div>
      <div>
        <a href="./agregar_venta.php" class="btn btn-primary"> Agregar </a>
      </div>
    </aside>

    <aside>
      <form
        method="get"
        class="d-flex flex-column flex-md-row justify-content-md-between px-3"
      >
        <div class="d-flex w-100 flex-column flex-md-row align-items-md-center">
          <div class="input-group">
            <div class="col-5 col-md-3 m-0">
              <label for="opcion" class="input-group-text rounded-0">
                Buscar ventas por
              </label>
            </div>
            <div class="col-7 col-md-4 col-lg-2">
              <select
                name="opcion"
                id="opcion"
                class="form-select rounded-0"
                required
              >
                <option [op_id] value="id">ID</option>
                <option [op_empleados] value="empleados">Empleado</option>
                <option [op_clientes] value="clientes">Cliente</option>
                <option [op_productos] value="productos">Producto</option>
                <option [op_fecha] value="fecha">Fecha de venta</option>
              </select>
            </div>

            <input
              type="text"
              class="form-control rounded-0"
              name="search"
              id="search"
              placeholder="Buscar"
              value="[value]"
            />
            [limpiar_filtro]
            <button class="btn btn-outline-primary rounded-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                />
              </svg>
              Buscar
            </button>
          </div>
        </div>
      </form>
    </aside>
    <main>
      <div class="d-flex px-3 justify-content-between align-items-center">
        <span class="text-secondary fs-3">[title]</span>
        <a href="/report/[link_report]" class="btn btn-sm btn-secondary" target="_blank"
          >[reporte]</a
        >
      </div>
      <section class="table-responsive p-3" id="no-more-tables">
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th>ID</th>
              <th>Empleado</th>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Productos</th>
              <th>Cantidad</th>
              <th>IVA</th>
              <th>Subtotal</th>
              <th>Total</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            [block: ventas]
            <tr>
              <td data-title="ID">[idVenta]</td>
              <td data-title="Empleado">[idEmpleado]</td>
              <td data-title="Cliente">[idCliente]</td>
              <td data-title="Fecha">[fechaVenta]</td>
              <td data-title="Productos">[idProductos]</td>
              <td data-title="Cantidad">[cantidades]</td>
              <td data-title="IVA">[iva]</td>
              <td data-title="Subtotal">[subtotal]</td>
              <td data-title="Tola">[costo]</td>

              <td data-title="Acción">
                <div class="btn-group ms-3" role="group">
                  <!-- <button class="btn btn-warning">Generar Reporte</button> -->
                  <a
                    href="./report/reportVentas.php?venta=[idVenta]"
                    class="btn btn-sm btn-secondary"
                    target="_blank"
                  >
                    Reporte
                  </a>
                </div>
              </td>
            </tr>
            [/block: ventas]
          </tbody>
        </table>
      </section>
      <div><p>[mensaje]</p></div>
      <section>
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
          <ul class="pagination">
            [block: paginas]
            <li class="page-item [active]" aria-current="page">
              <a class="page-link" href="?pagina=[pagina]">[pagina]</a>
            </li>
            [/block: paginas]
          </ul>
        </nav>
      </section>
    </main>
    <script src="./bootstrap-5.3.0/js/popper.min.js"></script>
    <script src="./bootstrap-5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
